# Database Configuration
POSTGRES_USER=eco_admin
POSTGRES_PASSWORD=eco_pass
POSTGRES_DB=eco_client

# Application URLs
BACKEND_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000

# JWT Secret Key (измените в production!)
JWT_SECRET=supersecretkey

# Environment
ENV=development

